<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Data" version="1.0.13" targetFramework="net40" />
  <package id="FSharp.Data.Experimental" version="1.0.2" targetFramework="net40" />
  <package id="FSharpx.TypeProviders" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.AppSettings" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Documents" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Excel" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Freebase" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Graph" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Machine" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Management" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Math" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Regex" version="1.7.3" targetFramework="net40" />
  <package id="FSharpx.TypeProviders.Xaml" version="1.7.3" targetFramework="net40" />
  <package id="HtmlAgilityPack" version="1.4.6" targetFramework="net40" />
  <package id="MSDN.FSharpChart.dll" version="0.60" targetFramework="net45" />
  <package id="Northwind.Db" version="1.0.0" targetFramework="net45" />
</packages>